body {
	margin: 20px 0;
}

.container {
	padding: 0 !important;
}

.brand-logo {
	margin-left: 20px;
	font-size: 19px !important;
}

.profile-image {
	padding: 0;
}

.profile-content {
	padding: 20px;
}

.profile-text {
	text-align: justify;
}

.profile-phone .phone {
	font-size: 18px;

	overflow: hidden;
	text-overflow: ellipsis;
}

.profile-phone .phone a {
	color: #FFF;
}

.profile-phone .phone a:hover {
	text-decoration: underline;
}

.content-icon-title {
	margin-top: 3px;
}

.divider {
	clear: both;
	background-color: transparent;
	height: 21px;

	padding-top: 20px;
	margin-bottom: 20px;
	margin-right: -8px;
}

.divider .line {
	background-color: #0288d1;
	height: 1px;

	margin-left: 62px;
}

.divider-content {
	height: 1px;
	background-color: #CCC;
	margin: 20px -20px 20px 15%;
}

.text-bold {
	font-weight: bold;
}

.light-blue-text {
	overflow: hidden;
}

.light-blue-text.row {
	margin-bottom: 10px;
}

.light-blue-text.row:last-child {
	margin-bottom: 0;
}

.light-blue-text div:first-child {
	font-weight: bold;
}
